<h1>FAQ Page</h1>
<ul>
	<li>
		<b>Is there a free version?</b> Yes! We offer a free trial for 30 days on
		any paid plans.
	</li>
	<li>
	<b>What are your support hours?</b> We have support staff answering emails
	24/7, though response times may be a bit slower on weekends.
	</li>
	<li>
		<b>How do I contact support?</b> Email us -
		<a href="mailto:info@zero-one-group.com">info@zero-one-group.com</a>
	</li>
</ul>
