{{template "header" .}}
<div class="py-12 flex justify-center">
  <div class="px-8 py-8 bg-white rounded shadow">
    <h1 class="pt-4 pb-8 text-center text-3xl font-bold text-gray-900">
      Reset your password
    </h1>
    <form action="/reset-pw" method="post">
      <div class="hidden">
        {{csrfField}}
      </div>
      <div class="py-2">
        <label for="password" class="text-sm font-semibold text-gray-800"
          >New password</label
        >
        <input
          name="password"
          id="password"
          type="password"
          placeholder="Password"
          required
          class="
            w-full
            px-3
            py-2
            border border-gray-300
            placeholder-gray-500
            text-gray-800
            rounded
          "
          autofocus
        />
      </div>
      {{if .Token}}
        <div class="hidden">
          <input type="hidden" id="token" name="token" value="{{.Token}}" />
        </div>
      {{else}}
        <div class="py-2">
          <label for="token" class="text-sm font-semibold text-gray-800"
            >Password Reset Token</label
          >
          <input
            name="token"
            id="token"
            type="text"
            placeholder="Check your email"
            required
            class="
              w-full
              px-3
              py-2
              border border-gray-300
              placeholder-gray-500
              text-gray-800
              rounded
            "
          />
        </div>
      {{end}}
      <div class="py-4">
        <button
          type="submit"
          class="
            w-full
            py-4
            px-2
            bg-indigo-600
            hover:bg-indigo-700
            text-white
            rounded
            font-bold
            text-lg
          "
        >
          Update password
        </button>
      </div>
      <div class="py-2 w-full flex justify-between">
        <p class="text-xs text-gray-500">
          <a href="/signup" class="underline">Sign up</a>
        </p>
        <p class="text-xs text-gray-500">
          <a href="/signin" class="underline">Sign in</a>
        </p>
      </div>
    </form>
  </div>
</div>
{{template "footer" .}}
